.row
    .col-md-9
        table.table.table-bordered
            tr
                td name
                td {{$ctrl.server_group.name}}
            tr
                td id
                td {{$ctrl.server_group._id}}
                
    .col-md-3
        a.btn.btn-default.pull-right(ui-sref="server_groups.edit({id:$ctrl.server_group._id})") Изменить